[submodule "gstatic"]
	path = gstatic
	url = https://github.com/pffy/google-docs-addon-css-packages
[submodule "obj/freq"]
	path = obj/freq
	url = https://github.com/pffy/javascript-chinese-frequency
[submodule "js"]
	path = js
	url = https://github.com/pffy/javascript-app-support
[submodule "obj/tp"]
	path = obj/tp
	url = https://github.com/pffy/javascript-tonelesspinyin
